body {
    background-color: #FCF2E5
}

.titles {
    text-align: center;
    border-radius: 20px;
    background-color: #EC5B38;
}

h1 {
    text-align: center;
    border-radius: 20px;
    background-color: #A8A492;
}

a {
    color: black;
    text-decoration: none;
    border: 5px solid black;
    padding: 10px;
    margin: 5px;
}

.center {
    text-align: center;
}

.lowfont {
    font-weight: normal;
}

.highfont {
    font-weight: 900;
}
